.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #playground-canvas-container {
    flex: 1;
    border: 2px solid black;
  }
  
  #matrix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* set to full width of remaining space */
    text-align: center; /* center the contents horizontally */
  }
  