@font-face {
  font-family: "Hussar Bold";
  src: url('./Font Assets/HussarBoldWeb.ttf');
}
html, body {
  right: 50px;
  padding: 0;
}
canvas {
  display: block;
  border-radius: 15px;
}

.container {
  display: flex;
  background-color: #191a1a; /* Replace #colur with your desired color */
  border-radius: 15px;
  box-shadow: -10px 10px 5px black;
  
  
}








.variable-width-div {
  width: 56%;
  height: 500px;
}
@media(max-width:1000px){
  .container{
    flex-direction: column;
  }
  .variable-width-div {
    width: 97%;
    height: 100%;
  }
  .fixed-width-div {
    align-self:center;

    /* left: 25%;
    position:absolute; */
  }
}


/* This will create a container that has two divs inside of it, one with a fixed width and height of 500px and the other with a fixed height of 500px and a width that takes up the remaining space in the container. */

body{
  background-color: #3c3c3c;
  font-family:'Hussar Bold';
}

p{
  font-weight:400;
  font-size:1rem;
  text-align: center;
  color:white
}





.containery {
  
padding : 10px;
 background-color: #191a1a; /* Replace #colur with your desired color */
 border-radius: 15px;
 box-shadow: -10px 10px 5px black;
 display: inline-block;
 height: auto;
 

 
 
}
#equation{
  font-size: 20px;

  height: auto;
  overflow: hidden;
  text-align: center;
}
#subscript{
  font-size: 15px;
  height: auto;
  overflow: hidden;
  text-align: center;
}
#styled-asset {
  position: relative;

  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.styled-asset__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.styled-asset__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.styled-asset__question {
  color:white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.styled-asset__toggle {
  display: flex;
  align-items: center;
}

.styled-asset__toggle-label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 0px;
}

.styled-asset__toggle-switch {
  display: none;
}

.styled-asset__toggle-slider {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
}

.styled-asset__toggle-slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s;
}

.styled-asset__toggle-switch:checked + .styled-asset__toggle-slider::before {
  transform: translateX(20px);
}



.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styled-asset__toggle-label:first-of-type {
  text-align: left;
  margin-right: 0px;
}

.styled-asset__toggle-label:last-of-type {
  text-align: right;
  margin-left: 10px;
}

